@font-face {
  font-family: "custom-icon"; /* Project id 2756992 */
  src: url('/static/font-icon/iconfont.woff2?t=1629534537179') format('woff2'),
       url('/static/font-icon/iconfont.woff?t=1629534537179') format('woff'),
       url('/static/font-icon/iconfont.ttf?t=1629534537179') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 32rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-switch:before {
  content: "\e60e";
}

.custom-icon-add:before {
  content: "\e60d";
}

.custom-icon-car:before {
  content: "\e609";
}

.custom-icon-oil-fill:before {
  content: "\e60c";
}

.custom-icon-oil:before {
  content: "\e60f";
}

